.sb-image-swatches{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top:10px;
}

.sb-swatch{
    width:330px;
    height:140px;
    border:2px solid #ddd;
    border-radius:6px;
    cursor:pointer;
    overflow:hidden;
    transition:all .2s ease;
}

.sb-swatch:hover{
    border-color:#2271b1;
}

.sb-swatch.selected{
    border-color:#2271b1;
    box-shadow:0 0 0 2px rgba(34,113,177,.15);
}

.sb-swatch img {
    width: 100%;
    /* height: 100%; */
    object-fit: fill;
    /* display: block; */
    min-height: 180px;
    /* min-width: 200px; */
    /* padding: 2%; */
}

.wcmamtx_layout button.btn.btn-sm.btn-info.expimpbuttons  {
    display: none;
}

.sb-image-swatches-sidebar{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top:10px;
}

.sb-swatch-sidebar{
    width:330px;
    height:140px;
    border:2px solid #ddd;
    border-radius:6px;
    cursor:pointer;
    overflow:hidden;
    transition:all .2s ease;
}

.sb-swatch-sidebar:hover{
    border-color:#2271b1;
}

.sb-swatch-sidebar.selected{
    border-color:#2271b1;
    box-shadow:0 0 0 2px rgba(34,113,177,.15);
}

.sb-swatch-sidebar img{
    width: 100%;
    /* height: 100%; */
    object-fit: fill;
    /* display: block; */
    min-height: 180px;
    /* min-width: 200px; */
    /* padding: 2%; */
}

.sb-swatch-sidebar {
    padding: 5px;
   
    min-height: 250px;
}

p.wcmamtx_layout_template_override_navigation.alert.alert-success {
    float: left;
    width: 100%;
}

.sb-swatch-navigation {
    float: left;
    /* width: 33%; */
    padding: 5px;
   
    min-height: 250px;
}



.sb-image-swatches-navigation{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top:10px;
}

.sb-swatch-navigation {
    width: auto;
    height: 600px;
    border: 2px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s ease;
}

.sb-swatch-navigation:hover{
    border-color:#2271b1;
}

.sb-swatch-navigation.selected{
    border-color:#2271b1;
    box-shadow:0 0 0 2px rgba(34,113,177,.15);
}

.sb-swatch-navigation img{
    float:left;
    object-fit: fill;
    /* display: block; */
    min-height: 180px;
    /* min-width: 200px; */
    /* padding: 2%; */
}

.sb-swatch-navigation {
    padding: 5px;
    max-width: 440px;
    min-height: 350px;
    padding: 1%;
}


p.wcmamtx_layout_template_override_navigation.alert.alert-success,p.wcmamtx_layout_template_override.alert.alert-success {
    margin-top: 20px;
}

.sb-swatch {
    height: 130%;
    min-height: 190px;
}

span.wcmamtx_label_below_layout_images{
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    /* text-align: center; */
    margin-bottom: 10px;
    width:100%;
}

.sb-swatch-sidebar {
    height: 130%;
    min-height: 210px;
}

.sb-swatch-navigation {
    height: 130%;
    min-height: 270px;
}

.sb-image-swatches-order{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top:10px;
}

.sb-swatch-order{
    width:330px;
    height:140px;
    border:2px solid #ddd;
    border-radius:6px;
    cursor:pointer;
    overflow:hidden;
    transition:all .2s ease;
}

.sb-swatch-order:hover{
    border-color:#2271b1;
}

.sb-swatch-order.selected{
    border-color:#2271b1;
    box-shadow:0 0 0 2px rgba(34,113,177,.15);
}

.sb-swatch-order img{
    width: 100%;
    /* height: 100%; */
    object-fit: fill;
    /* display: block; */
    min-height: 180px;
    /* min-width: 200px; */
    /* padding: 2%; */
}

.sb-swatch-order {
    padding: 5px;
   
    min-height: 250px;
}
.sb-swatch-order {
    height: 130%;
    min-height: 210px;
}